/**index.wxss**/
.userinfo {
}

.userinfo-avatar {
  width: 80rpx;
  margin:  50rpx;
  height: 128rpx;
  margin: 20rpx;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}
.usermotto {
  margin-top: 200px;
}